{% extends "profile.html" %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/projectbatch_listdetail.css' %}">
{% endblock %}

{% block profile_content %}

    <h2 class="table-title">All Batches</h2>
    {% if batches %}
        <table class="batch-table">
            <thead>
                <tr>
                    <th>Batch Name</th>
                    <th>Project</th>
                    <th>Quarter</th>
                </tr>
            </thead>
            <tbody>
                {% for bt in batches %}
                    <tr>
                        <td><a href="{% url 'n_batchdetails' bt.id %}" class="batch-link">{{ bt.name }}</a></td>
                        <td>{{ bt.project.name }}</td>
                        <td>{{ bt.quarter }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="no-data">No batches available.</p>
    {% endif %}

{% endblock %}
