<!--All projects (table view)-->

{% extends "profile.html" %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/projectbatch_listdetail.css' %}">
{% endblock %}

{% block profile_content %}

    <h2>All Projects</h2>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                {% for proj in projects %}
                <tr>
                    <td><a href="{% url 'n_projectdetails' proj.id %}">{{ proj.name }}</a></td>
                    <td>{{ proj.start_date|date:"M j, Y" }}</td>
                    <td>{{ proj.end_date|date:"M j, Y" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No projects available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

   

    {# done in views file: rm and cm should see project detials according to the allocations they receive from vp and rm respectively #}

{% endblock %}
