@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header {
  justify-content:space-between;
  align-items:center;
  margin:0px 0px 35px;
  width:100%;
  float:left;
  position:relative;
}

.col-100 {width:100%;}
.floatLft {float:left;}
.floatRgt {float:right;}

.bg1 {
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  overflow: hidden;
}

.contain{
  margin: 30px 0px ;
}

.contain h2{
  font-size: 35px;
  margin-bottom: 40px;
  color: #436c97;
  text-align: center;
}
span { color: #f773d8;}

.contain p{
  font-size: 20px;
  text-align: justify;
  margin-bottom: 30px;
  line-height: 2.0;
  margin: 0px 85px 0px 85px;
}

.bg1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 1;
}

.bg1 .content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: right;
  padding-right: 60px;
}

.bg1 .content h1 {
  font-size: 32px;
  margin-right: 80px;
  margin-bottom: 50px;
}

.bg1 .content p {
  font-size: 16px;
  line-height: 1.6;
  margin-right: 80px;
}

.section {
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 140px;
}

.containers1 p {
  color: rgb(112, 12, 104);
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.cards {
  max-width: 1622px;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  max-width: 377px;
  width: 100%;
  background: #dbc1e8;
  padding: 20px 0;
}

.cardImg {
  width: 65px;
  height: 65px;
  background: #a1cc3a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;
}

.cardImg img {
  width: 30px;
}

.card1 {
  background-color: #dbc1e8;
  border-radius: 8px;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

.card1 h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  max-width: 197px;
  font-size: 20px;
  text-align: center;
}

.card1 p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.5;
  max-width: 297px;
  font-size: 14px;
  text-align: center;
}

.card1 a {
  font-size: 14px;
  color: #27ae60;
  font-weight: bold;
  align-items: center;
  max-width: 153px;
}

.footer{
  text-align: center;
}

.copyright {
  margin-top: 20px;
  color: #023047;
  font-size: 16px;
  text-align: center;
  margin: 20px 0 20px;
}

